<!DOCTYPE html>
<html>
  <head>

    {% capture meta_title %}
      {% if product %}
        {% assign cat = product.categories[0] %}
        {{ shop.main_page_title }} - {% if cat %}{{ cat.name }} - {% endif %} {{ product.name }}
      {% else %}
        {% if current_category %}
            {{ shop.main_page_title }} - {{ current_category.name }}
          {% else %}
            {% if page %}
              {{ shop.main_page_title }} - {{ page.title }}
            {% else %}
              {{ shop.main_page_title }}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endcapture %}

    <meta charset="utf-8" />
    <title>{{ meta_title | strip_newlines | strip_html }}</title>

    <!-- Ombu Shop - Default CSS -->
    <link href='https://secure.ombushop.com/assets/shops/default.css' rel='stylesheet' type='text/css' />

    <!-- Ombu Shop - Theme: Wooden - File: theme.liquid -->

    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Karla:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href='/themes/wooden/stylesheets/reset.css' rel='stylesheet' type='text/css' />
    <link href='/themes/wooden/stylesheets/basic.css' rel='stylesheet' type='text/css' />
    <link href='/themes/wooden/stylesheets/buttons.css' rel='stylesheet' type='text/css' />
    <link href='/themes/wooden/stylesheets/advice.css' rel='stylesheet' type='text/css' />
    <link href='/themes/wooden/stylesheets/contact.css' rel='stylesheet' type='text/css' />

    {{ 'shop.css' | asset_url | stylesheet_tag }}
    {{ 'products.css' | asset_url | stylesheet_tag }}

    <link href='/themes/wooden/stylesheets/logo.css' rel='stylesheet' type='text/css' />

    <script src='/themes/wooden/javascripts/jquery-1.4.2.min.js' type='text/javascript'></script>
    <script src='/themes/wooden/javascripts/jquery.validate.min.js' type='text/javascript'></script>
    <script src='/themes/wooden/javascripts/rails.js' type='text/javascript'></script>
    <script src='/themes/wooden/javascripts/application.js' type='text/javascript'></script>

    <!-- CloudZoom: CSS and JS -->
    <script src='/themes/wooden/javascripts/cloud-zoom.1.0.2.min.js' type='text/javascript'></script>

    <!-- jQuery Masonry -->
    <script src='/themes/wooden/javascripts/jquery.masonry.min.js' type='text/javascript'></script>
    <script src='/themes/wooden/javascripts/jquery.imagesloaded.min.js' type='text/javascript'></script>

    <script src='/themes/wooden/javascripts/product.min.js' type='text/javascript'></script>

    {{ content_for_header }}

    <script type="text/javascript">
      jQuery(document).ready(function(){
        var $container = $('.product-listing');
        $container.imagesLoaded(function(){
          $container.masonry({
            isAnimated: false,
            isResizable: false,
            itemSelector: '.product'
          });
        });
      });
    </script>

    {% if product %}
    <!-- Facebook: inicio de metatags -->
    <meta property="og:title" content="{{ shop.main_page_title }} - {{ product.name }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ product.url }}" />
    <meta property="og:image" content="{{ product.featured_image | image_size: 'original' }}" />
    <meta property="og:site_name" content="{{ shop.main_page_title }}" />
    <meta property="fb:app_id" content="148526658594891" />
    <!-- Facebook: fin de metatags -->

    <!-- Twitter: inicio de metatags -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:domain" content="{{ shop.url }}">
    <meta name="twitter:title" content="{{ product.name }}">
    <meta name="twitter:image" content="{{ product.featured_image.src }}">
    <meta name="twitter:label1" content="Categorías">
    <meta name="twitter:data1" content="{% for category in product.categories %} - {{ category.name }} {% endfor %}">
    <meta name="twitter:label2" content="Precio">
    <meta name="twitter:data2" content="{{ product.price_with_currency }}">
    <!-- Twitter: fin de metatags -->
    {% else %}
    <!-- Twitter: inicio de metatags -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ shop.name }}" />
    <meta property="twitter:description" content="Tienda online" />
    <meta property="twitter:image" content="{{ shop.shop_logo | logo_size: 'header' }}" />
    <meta property="twitter:url" content="{{ shop.url }}" />
    <!-- Twitter: fin de metatags -->
    {% endif %}

  </head>

  <body class="theme-wooden {% if template == 'show' %} one-col {% else %} two-col {% endif %}" {% if template == 'show' %} id="product-details" {% endif %}>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="all">

      {% if current_user %}
        {% if current_user.is_admin? %}
        <div id="admin-bar" class="top-bar">
          <div id="login-bar">
            <span class="shop-name"><i class="icon-shopping-cart icon-white"></i> {{ current_user.shop.name }}</span> <span class="user-email"><i class="icon-user icon-white"></i> {{ current_user.email }}</span> <div class="btn-group"><a href="/admin" title="Ir al administrador" class="btn btn-inverse" target="_blank"><i class="icon-briefcase icon-white"></i> Admin</a> <a href="{{ current_path }}" title="Recargar la tienda" class="btn active btn-inverse"><i class="icon-shopping-cart icon-white"></i> Tienda</a></div>
            <a href="/logout" class="btn btn-inverse"><i class="icon-off icon-white"></i> Salir</a>
          </div>
        </div>
        {% else %}
          {% unless current_user.is_anonymous? %}
        <!-- if mayorista -->
        <div id="admin-bar" class="top-bar">
          <div id="login-bar">
            <span class="shop-name"><i class="icon-shopping-cart icon-white"></i> {{ current_user.shop.name }}</span> <span class="user-email"><i class="icon-user icon-white"></i> {{ current_user.email }} (mayorista)</span>
            <a href="/logout" class="btn btn-inverse"><i class="icon-off icon-white"></i> Salir</a>
          </div>
        </div>
          {% endunless %}
        {% endif %}
      {% endif %}

      {% include 'flash' %}

      <div id="page">

        <div id="header" class="container_bg container_10">

          {% include 'logo' %}


          <div id="cart_bar">
            <p class="cart-indicator">
              {% if current_order.item_count == 0 %}
                <a href="/cart" class="empty" title="Cart">Carrito: (Vacío)</a>
              {% else %}
                <a href="/cart" class="full" title="Cart">Carrito: {{ current_order.item_count }}</a>
              {% endif %}
            </p>
          </div>
          <div id="contact-info">
            <ul>
              <li class="facebook" title="Facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li class="pinterest" title="Pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
              <li class="twitter" title="Twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li class="instagram" title="Instagram"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li class="google-plus" title="Google Plus"><a href="#" target="_blank"></a></li>
              <li class="youtube" title="Youtube"><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
              <li class="phone"><i class="fa fa-phone"></i>678-678-6789</li>
            </ul>
          </div>

          <!-- page navigation -->
          <ul id="navigation_bar">
              {% for page in pages %}
              <li {% if (page.url contains current_path and current_path != "/") or (current_path == "/" and page.is_homepage) %}class="current-page"{% endif %}><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></li>
              {% endfor %}
              <li {% if (current_path == "/products") %}class="current-page"{% endif %}><a href="/products">Productos</a></li>
          </ul>
          <!-- end page navigation -->


          <div class="clear">&nbsp;</div>
        </div><!-- end "header" -->

        <div id="destacados-container">
          <div id="destacados-content"><img src="http://s3.amazonaws.com/ombu_store_production/files/shops/381/wooden-banner.jpg" /></div>
        </div>

        <div id="wrapper" class="container container_10">

          {{ content_for_layout }}

          <div class="clear">&nbsp;</div>

          <div class="clear">&nbsp;</div>
        </div> <!-- end "wrapper" -->
        <div id="footer">
            <div class="footer-container">
              <div class="store_footer">
                <div id="contact-info">
                  <h1>Contactanos</h1>
                  <ul>
                    <li class="phone"><i class="fa fa-phone"></i>678-678-6789</li>
                  </ul>
                </div>
                <p>{{ shop.footer }}</p>
              </div>
            <div id="footer-nav">
              <h1>Navegación</h1>
              <ul class="links">
                {% if shop.homepage %}
                <li><a href="/products">Productos</a></li>
                {% endif %}
                {% for page in pages %}
                <li {% if page.url contains current_path and current_path != "/" %}class="current-page"{% endif %}><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div id="follow-us">
                <h1>Seguinos</h1>
                <div id="contact-info">
                  <ul>
                    <li class="facebook" title="Facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="pinterest" title="Pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                    <li class="twitter" title="Twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagram" title="Instagram"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="google-plus" title="Google Plus"><a href="#" target="_blank"></a></li>
                    <li class="youtube" title="Youtube"><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                  </ul>
              </div>
            </div>
            <a href="#" class="ombu-tagline" title="Creá tu tienda Ombushop en minutos!" target="_blank">Creá tu tienda <strong>OmbuShop.</strong>  en minutos!</a>
            </div>
          </div> <!-- end "footer" -->
      </div> <!-- end "page" -->
    </div> <!-- end "all" -->
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
  </body>
</html>
