<!-- 
Template: Wooden 
File: index.liquid
-->

<div id="content" class="grid_8 index">
	
	

  {% if taxon %}
    {{ breadcrumbs }}
  {% endif %}

  {% paginate products by 12 %}  

    {% if products.size > 0 %}
      {% if keywords != nil %}
      	<h3 class="search-results-title">Resultados para: <span class="search-results-keywords">{{ keywords }}</span></h3>
      {% endif %}

      <ul class="product-listing">
        {% for product in products %}
          {% if product.has_stock? or shop.display_products_without_stock? %}
            <li id="product_{{ product.id }}" class="product {% cycle 'one', 'two'%}">
							<div>
	              {% assign image = product.featured_image %}
	              {% if image == nil %}
	                <a href="/products/{{ product.to_param }}" class="image-link-container"><img alt="No image" src="/images/noimage/product.jpg" /></a>                    
	              {% else %}
	                <a href="/products/{{ product.to_param }}" class="image-link-container"><img alt="{{ image.alt }}" title="{{ image.alt }}" src="{{ product.featured_image | image_size: 'large' }}" width="344" /></a>          
	              {% endif %}

	              <h4 class="product-name"><a href="/products/{{ product.to_param }}">{{ product.name }}</a></h4>
	              <p class="product-price"><a href="/products/{{ product.to_param }}">{{ product.price_with_currency }}</a></p>
								
								<div class="social-container">
									<!-- facebook like button -->
									<div class="fb-like" data-href="{{ product.url }}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
									<!-- end - facebook like button -->
								
									<!-- twitter tweet button -->
									<!-- <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ product.url }}">Tweet</a>
									<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->
									<!-- end - twitter tweet button -->
									
                  <!-- pinterest button -->
                  <a href="http://pinterest.com/pin/create/button/?url={{ product.url }}&media={{ product.featured_image | image_size: 'large' }}&description={{ product.name }}" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
                  <!-- end - pinterest button -->
								</div>
								
							</div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      No se encontraron productos.
    {% endif %}
  
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>
  
  {% endpaginate %}
  
</div><!-- end "content" -->

<div id="sidebar" class="grid_2 omega">
	<div id="search_bar">
    <form accept-charset="UTF-8" action="/products" method="get">
      <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓">
      </div>
      <label for="keywords">Buscar:</label>
      <input id="keywords" name="keywords" type="text" value="{{ keywords }}">
      <input type="submit" value="Buscar">
    </form>
  </div>  
  {% include 'sidebar' %}
</div>

<div class="clear">&nbsp;</div>
