<div id="sidebar" class="clearfix">
  {% include 'sidebar' %}
</div>

<div id="content">

  {% if taxon %}
    {{ breadcrumbs }}
  {% endif %}

  {% paginate products by 12 %}  

    {% if products.size > 0 %}
      {% if keywords != nil %}
      	<h3 class="search-results-title">Resultados para: <span class="search-results-keywords">{{ keywords }}</span></h3>
      {% endif %}

      <ul class="product-listing">
        {% for product in products %}
          {% if product.has_stock? or shop.display_products_without_stock? %}
            <li id="product_{{ product.id }}" class="{% cycle 'one', 'two', 'three' %}">
              {% assign image = product.featured_image %}
              {% if image == nil %}
                <a href="/products/{{ product.to_param }}"><img alt="No image" src="/images/noimage/product.jpg"></img></a>                    
              {% else %}
                <a href="/products/{{ product.to_param }}"><img alt="{{ image.alt }}" src="{{ image.src }}"></img></a>          
              {% endif %}

              <a href="/products/{{ product.to_param }}" class="info">{{ product.name }} <span class="price selling">{{ product.price_with_currency }}</span></a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      No se encontraron productos.
    {% endif %}

    <hr class="space" />
  
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>
  
  {% endpaginate %}
  
</div><!-- end "content" -->
