<!-- 
Template: Wooden 
File: index.liquid
-->

<div id="content" class="grid_8">

  {% if taxon %}
    {{ breadcrumbs }}
  {% endif %}

  {% paginate products by 12 %}  

    {% if products.size > 0 %}
      {% if keywords != nil %}
      	<h3 class="search-results-title">Resultados para: <span class="search-results-keywords">{{ keywords }}</span></h3>
      {% endif %}

      <ul class="product-listing">
        {% for product in products %}
          {% if product.has_stock? or shop.display_products_without_stock? %}
            <li id="product_{{ product.id }}" class="product {% cycle 'one', 'two'%}">
							<div>
	              {% assign image = product.featured_image %}
	              {% if image == nil %}
	                <a href="/products/{{ product.to_param }}"><img alt="No image" src="/images/noimage/product.jpg"></img></a>                    
	              {% else %}
	                <a href="/products/{{ product.to_param }}"><img alt="{{ image.alt }}" title="{{ image.alt }}" src="{{ image.src }}"></img></a>          
	              {% endif %}

	              <h4 class="product-name"><a href="/products/{{ product.to_param }}">{{ product.name }}</a></h4>
	              <p class="product-price"><a href="/products/{{ product.to_param }}">{{ product.price_with_currency }}</a></p>
							</div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      No se encontraron productos.
    {% endif %}
  
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>
  
  {% endpaginate %}
  
</div><!-- end "content" -->

<div id="sidebar" class="grid_2 omega">
  {% include 'sidebar' %}
</div>

<div class="clear">&nbsp;</div>
