<div id="content" class="show grid_8">
  <h1>{{ product.name }}</h1>

  <div id="product-images">

    <div id="main-image">
      {% if product.featured_image %}
        <!-- <img src="{{ product.featured_image | image_size: 'vertical_small' }}" title="{{ product.featured_image.alt | capitalize }}"></img> -->
				
				<!-- cloud-zoom -->
        <div id="wrap" style="top:0px;z-index:9999;position:relative;">
          <a href="{{ product.featured_image | image_size: 'original' }}" class="cloud-zoom" id="zoom1" rel="adjustX:30, adjustY:0, softFocus:false, position:'right', showTitle:false" style="position: relative; display: block; ">
            <img src="{{ product.featured_image | image_size: 'large' }}" alt="{{ product.featured_image.alt }}" align="left" title="{{ product.featured_image.alt | capitalize }}" style="display: block; " />
          </a>
          <div class="mousetrap" style="background-image:url(&quot;.&quot;);z-index:999;position:absolute;left:0px;top:0px;">
          </div>
        </div>
				<!-- end cloud-zoom -->

      {% else %}
        <img alt="No image" src="/images/noimage/product.jpg"></img>
      {% endif %}
    </div>

    <div id="thumbnails">
      <!-- no need for thumbnails unless there is more then one image -->
      {% if product.images.size > 1 %}
        <ul id="product-thumbnails" class="thumbnails">
          {% for image in product.images %}
            <li {% if forloop.first %} class="selected" {% endif %}>
              <a href="{{ image.src }}">
                <img alt="{{ image.alt }}" src="{{ image | image_size: 'mini' }}" />
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if product.has_variants? %}
        {% if product.has_variant_images? %}
          <h4 id="variant-images">
            Fotos para:
            <span>{{ selected_variant.options_text }}</span>
          </h4>
          <ul id="variant-thumbnails" class="thumbnails">
            {% for variant in product.variants %}
              {% if variant.available? %}
                {% for image in variant.images %}
                  <li>
                      <a href="{{ image.src }}">
                        <img alt="{{ image.alt }}" src="{{ image | image_size: 'mini' }}" />
                      </a>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
      
        {% endif %}
    
      {% endif %}
    </div>
  </div>

  <div id="cart-form">
  
    <form accept-charset="UTF-8" action="/orders/populate" method="post">
      <input name="utf8" type="hidden" value="✓">

      <p class="prices">
        <span class="price selling">{{ product.price_with_currency }}</span>
      </p>

      <input id="order_product_id" name="order[product_id]" type="hidden" value="{{ product.id }}">
    
      {% if product.has_variants? %}
        <div id="product-variants">
          {% for option_type in product.possible_options %}
            <input id="order_option_types[{{ forloop.index }}]" name="order[option_types[{{ forloop.index }}]]" type="hidden" value="{{ option_type.id }}">
            <label for="order_option_types_{{ option_type.id }}">{{ option_type.name }}</label>        
            <select id="order_option_types_{{ option_type.id }}" name="order[option_types_{{ option_type.id }}]">
            
              {% for possible_value in option_type.possible_values %}
                <option value="{{ possible_value.id }}">{{ possible_value.name }}</option>
              {% endfor %}
            
            </select>
          {% endfor %}
        </div>
      {% else %}  
        <input name="order[products[0]]" id="order_products[0]" type="hidden" value="{{ product.main_variant_id }}">
      {% endif %}

      <button type="submit" class="large primary">
        <img alt="Add-to-cart" src="/images/add-to-cart.png" />Comprar
      </button>

      <div class="payment_images">  
        <span>Envíos: A convenir</span><br>
        <span>En hasta 18 cuotas con:</span>
				<div class="first_tier">
				  {% assign gateway = shop.payment_gateways.first %}
				  <img src="{{ gateway.payment_options_image }}">
				</div>
      </div> <!-- end .payment_images -->

      <div class="social-container">
        <div class="in-product-social-container">
    			<!-- facebook like button -->
    			<div class="fb-like" data-href="{{ product.url }}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
    			<!-- end - facebook like button -->
  			</div>
        <div class="in-product-social-container">
    			<!-- twitter tweet button -->
    			<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ product.url }}">Tweet</a>
    			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    			<!-- end - twitter tweet button -->
  			</div>
        <div class="in-product-social-container">
          <!-- pinterest button -->
          <a href="http://pinterest.com/pin/create/button/?url={{ product.url }}&media={{ product.featured_image | image_size: 'large' }}&description={{ product.name }}" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
          <!-- end - pinterest button -->
  			</div>
			</div>
    
    </form>

  </div>

  <div id="product-description">
    {{ product.formatted_description }}
  </div>


  <div id="taxon-crumbs">
    <a href="/products" title="Volver" class="back">&laquo; Volver al catálogo</a>
  </div>
</div>

<div id="sidebar" class="grid_2 omega">
	<div id="search_bar">
    <form accept-charset="UTF-8" action="/products" method="get">
      <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓">
      </div>
      <label for="keywords">Buscar:</label>
      <input id="keywords" name="keywords" type="text" value="{{ keywords }}">
      <input type="submit" value="Buscar">
    </form>
  </div>  
  {% include 'sidebar' %}
</div>

<div class="clear">&nbsp;</div>

<script type="text/javascript">
  window.product_variants = new Array();

  // get the product variants data
  // (needs to be in a liquid file)
  {% if product.has_variants? %}
    {% for variant in product.variants %}
      {% capture first_index %}{{ forloop.index0 }}{% endcapture %}
      window.product_variants[{{ first_index }}] = {
        "price": "{{ variant.price }}",
        "options_text": "{{ variant.options_text }}",
        "image": "{{ variant.featured_image.src }}"
        };
      window.product_variants[{{ first_index }}]["option_values"] = new Array();
      {% for option_value in variant.option_values %}
        window.product_variants[{{ first_index }}]["option_values"][{{ forloop.index0 }}] = {
          "id": "{{ option_value.id }}", 
          "name": "{{ option_value.name }}" 
          };
      {% endfor %}
    {% endfor %}
  {% endif %}
  // end - get product variants data

  $(document).ready(function(){
    // first time check
    checkSelected();
    // on change check
    $("#product-variants select").change(function(e){
      checkSelected();
    });
  });

  function checkSelected() {
    var selected_names = new Array();
    $("#product-variants select option:selected").each(function(){
      selected_names.push($(this).text());
    });
    selected_names.sort();
    // look in each variant
    for(var i=0; i<window.product_variants.length; i++) {
      var possible_names = new Array();
      for(var j=0; j<window.product_variants[i].option_values.length; j++){
        possible_names.push(window.product_variants[i].option_values[j].name);
      }
      possible_names.sort();
      var are_identical = false;
      for(var k=0; k<possible_names.length; k++) {
        if(possible_names[k] == selected_names[k]){
          are_identical = true;
        } else {
          are_identical = false;
          // one's not the same, break loop
          break;
        }
      }
      if(are_identical){
        changePrice(window.product_variants[i].price);
        changeImage(window.product_variants[i].image);
      }
    }
  }

  function changePrice(price){
    if(price != undefined && price != "") {
      $("span.price").html("$"+Math.floor(price));
    }
  }

  function changeImage(image_url){
    //console.log("changeImage");
    if(image_url != undefined && image_url != "") {
      //console.log(image_url);
      
      var image_url_important = image_url.split("/");
      image_url_important = image_url_important[image_url_important.length-1];
      image_url_important = image_url_important.split("?");
      image_url_important = image_url_important[0];

      var $image_to_select;
      
      $('ul.thumbnails li').each(function(){
        if(stringContains($("img", this).attr("src"), image_url_important)) {
          $image_to_select = $("img", this);
        }
      });
      
      if($image_to_select != undefined) {
        //console.log($image_to_select);
        
        // prerarar la URL:
        var image_url = $image_to_select.closest("a").attr('href').replace('mini', 'large');
        // change product image:
         $('#main-image img').attr('src', image_url);
        // change BIG image:
         $('#main-image a').attr('href', image_url.replace('large', 'original'));
        // save new current main image:
        $("#main-image").data('selectedThumb', $image_to_select.closest("a").attr('href'));
        
        // remove selected class from every li:
        $('ul.thumbnails li').removeClass('selected');
        // mark selected one as selected:
        $image_to_select.closest('li').addClass('selected');
        // reload:
        reload_cloud_zoom();
      }
    }
  }

  function stringContains(baseString, contains){
    if(baseString.indexOf(contains) != -1) {
      return true;
    } else {
      return false;
    }
  }
</script>
